<div class="header">
    <div>
        <div style="width: 70%">
            <span class="title">el poder de la data gestionable.</span>
        </div>


    </div>
    <div class="content-text">
        <div class="text">
            <div class="content">
                <div>
                    <h1>Bienvenido a la alianza</h1>
                    <span class="entity ">Lucro - Cafam</span>
                </div>
                <span class="number">20%</span>
                <div>
                    <span style="font-family: thin, arial, sans-serif">de descuento para que realmente entiendas a tus
                        consumidores</span>
                </div>
            </div>
        </div>
    </div>
</div>