<div class="header">
    <div class="logos">
        <img width="80" src="assets/tinified/lucro-white.png" alt="">
        <img width="80" style="margin-left:10px" src="assets/tinified/cafam.png" alt="">
    </div>
    <div class="copy">
        <img src="assets/tinified/lucro-white.png" alt="">
        <span class="title">el poder de la data <br>gestionable.</span>
    </div>
</div>
<div class="content-text">
    <div class="img-side side-1 col-2 col-md-3">

    </div>
    <div class="text col-8 col-md-6">
        <div class="content">
            <div>
                <h1>Bienvenido a la alianza</h1>
                <p class="entity ">Lucro - Cafam</p>
            </div>
            <span class="number">20%</span>
            <div>
                <p>de descuento para que realmente entiendas a tus
                    consumidores</p>
            </div>
        </div>
    </div>
    <div class="img-side side-2 col-2 col-md-3">

    </div>
</div>