<div>
  <div class="content-body">
    <app-header></app-header>
    <div class="container" style="width: 93%">
      <div class=" content-title">
        <div class="title">
          <span>Somos la forma mas innovadora y eficiente de hacer estudios de mercadeo:¿por qué?</span>
        </div>
      </div>
      <div>


        <div class="content-cards">

          <div class="row mb-2">
            <mat-card class="crad-1 col-md-6 col-sm-12">
              <div class="number">1</div>
              <span>Tenemos una comunidad de mas de 200k perdonas que constantemente nos comparten información de sus
                gustos
                e
                intereses</span>
            </mat-card>
            <mat-card class="crad-2 col-md-6 col-sm-12">
              <div class="number">2</div>
              <span>Esto nos permite ser los mas agiles del mercado, información gestionable en corto tiempo</span>
            </mat-card>
          </div>
          <div class="row mb-2">
            <mat-card class="crad-3 col-md-6 col-sm-12">
              <div class="number">3</div>
              <span>Somos la empresa con mayor presencia diaria en todo el territorio colombiano:970 municipios </span>
            </mat-card>
            <mat-card class="crad-4 col-md-6 col-sm-12">
              <div class="number">4</div>
              <span>Ademas de entender lo que piensan los colombianos tambien sabemos lo que hacen: Tenemos uno de los
                sistemas de reconocimiento de imagenes mas avanzado de latinoamerica asi con fotos de como viven los
                colombianos, conocemos su realidad</span>

            </mat-card>
          </div>


          <div class="card-center row">
            <mat-card class="crad-5 col-md-6 col-sm-12">
              <div class="number">5</div>
              <span>Con la alianza CAFAM-LUCRO tienen un descuento 20% que nos permite realizar estudios, es mucho mas
                economico
                que en el mercado</span>

            </mat-card>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>