<div>
  <div class="content-body body-text">
    <app-header></app-header>
    <div class="container" style="width: 93%">
      <div class="content-title">
        <div class="title">
          <span>Somos la forma más innovadora y eficiente de hacer estudios de mercadeo: ¿Por qué?</span>
        </div>
      </div>
      <div>
        <div class="content-cards">
          <div class="row mb-2">
            <div class="col-md-6 col-sm-12">
              <mat-card class="crad-1">
                <div class="number">1</div>
                <span>Tenemos una comunidad de mas de 200k personas que constantemente nos comparten información de sus
                  gustos e intereses.</span>
              </mat-card>
            </div>
            <div class="col-md-6 col-sm-12">
              <mat-card class="crad-2">
                <div class="number">2</div>
                <span>Esto nos permite ser los más agiles del mercado, información gestionable en corto tiempo.</span>
              </mat-card>
            </div>
          </div>
          <!--  -->
          <div class="row mb-2">
            <div class="col-md-6 col-sm-12">
              <mat-card class="crad-3">
                <div class="number">3</div>
                <span>Somos la empresa con mayor presencia diaria en todo el territorio colombiano: <b>970 municipios</b>.</span>
                </mat-card>
            </div>
            <div class="col-md-6 col-sm-12">
              <mat-card class="crad-4">
                <div class="number">4</div>
                <span>Además de entender lo que piensan los colombianos también sabemos lo que hacen: Tenemos uno de los
                  sistemas de reconocimiento de imágenes más avanzado de latinoamerica así con fotos de cómo viven los
                  colombianos, conocemos su realidad.</span>
              </mat-card>
            </div>
          </div>
          <div class="card-center row mb-2">
            <div class="col-md-6 col-sm-12">
              <mat-card class="crad-5">
                <div class="number">5</div>
              <span>
                Con la alianza CAFAM-LUCRO tienen un DESCUENTO 20% que nos permite realizar estudios es mucho más económico que en el mercado.
              </span>
            </mat-card>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <img class="before-l" src="assets/tinified/lucro-white.png" alt="">
  </div>
  
  <app-footer></app-footer>
</div>