<div class="questions">
    <div class="text">
        <span>¿Quieres saber más?</span>
    </div>
</div>
<div class="footer">

    <div class="content-footer">
        <div class="contact">
            <span>Dejanos tus datos y te contactaremos.</span>
        </div>
        <div class="content-btn">
            <div class="btn-whatsapp  ">
                <button mat-icon-button class="whatsapp me-2 "></button>
                <span class="">Whatsapp</span>

            </div>
        </div>
        <div class="content-btn">
            <div class="mail">
                <button mat-icon-button class="message me-3"></button>
                <span>lucro-cafam@lucro-app.com</span>
            </div>
        </div>
    </div>
</div>