<div class="questions">
    <div class="text">
        <span>¿Quieres saber más?</span>
    </div>
</div>
<div class="footer">

    <div class="content-footer">
        <div class="contact">
            <span>Dejanos tus datos y te contactaremos.</span>
        </div>
        <div class="content-btn">
            <a mat-button href="https://wa.me/573197917222" target="_blank" class="wh">
                <img width="20" src="assets/tinified/wh.png" alt="">
                <span style="margin-left:10px">Whatsapp</span>
            </a>

        </div>
        <div class="content-btn">
            <a href="mailto:lucro-cafam@lucro-app.com" target="_blank" mat-button>
                <img width="20" src="assets/tinified/mail.png" alt="">
                <span style="margin-left:10px">lucro-cafam@lucro-app.com</span>
            </a>
        </div>
    </div>
</div>